@media only screen and (max-width: 760px){
    body{
        overflow-x: hidden;
    }
    /* NAV */
    .navbar .container-fluid{
        flex-wrap:wrap;
    }

    /* Head SEC1 */
    .prim{
        height: fit-content;
    }
    .prim h1{
        font-size:2rem;
    }
    .prim h2{
        font-size: 1.5rem;
    }
    .prim p{
        font-size: 1rem;
        font-weight: lighter;
        line-height: 150%;
    }
    .sec {
        text-align: center;
        align-content: center;
        padding: 2rem;
    }
    .sec .btn-sm{
        width: 80%;
        margin: auto;
    }
    .btn{
        font-size: 1rem;
    }
    .sec div {
        padding:0;
    }
    .sec div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sec h1{
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    .sec h2{
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    .sec h3{
        text-align: center;
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .sec p{
        text-align: center;
        font-size: 1rem;
    }
    .sec a{
        text-align: center;
        padding: 0.5rem;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    .sec img{
        /* display: none; */
    }
    .wings::after{
        display:none;
    }
    .wings::before{
        display:none;
    }
    .wingsb::after{
        display:none;
    }
    .wingsb::before{
        display:none;
    }
    .sec .msgform{
        margin: auto;
        padding: 1rem;
        align-content: center;
        background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../imgs/Home\ BG1.jpg);
        border-radius: 2rem;
    }
    .sec .form-check{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
    }
    #msgmsg{
        padding: 0.25rem;
    }
    #msgmsg h3{
        font-size: 1.2rem;
    }
    .card{
        border:none;
        margin-bottom: 1rem;
    }
    .card i{
        font-size: 4rem;
    }
    .sec .cardtitle{
        font-size: 1.4rem;
        min-height: auto;
    }
    .sec .cardtext{
        font-size: 1rem;
        min-height: auto;
    }
    .cardrow i{
        font-size: 4rem;
    }

    .sec .cardtitlerow{
        font-size: 1.4rem;
        min-height: auto;
        text-align: center;
    }
    .sec .cardtextrow{
        font-size: 1rem;
        min-height: auto;
        text-align: center;
    }
    .value-card h3{
        font-size: 1rem;
        min-height: fit-content;
    }
    .value-card{
        font-size: 0.7rem;
        min-height: fit-content;
    }
    .service-card i{
        font-size: 4rem;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
    }
    .service-card h3{
        font-size: 1.5rem;
    }
    .sec .homebutton{
        display: none;
    }
    .lawsuit{
        height: fit-content;
    }
    .lawsuit .col-6{
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
    .question{
        font-size: 1.3rem;
        color: var(--blue2);
    }
    .pop-up h3{
        font-size: 1.2rem;
        margin: none;
    }
    .pop-up h3 {
        margin: none;
    }
    .sec .text-btn{
        font-size: 1rem;
    }
    .sec .landing-card{
        position: relative;
        text-align: center;
        padding: 2rem;
        background-color: #ecf0f1;
        border: #27ae60 solid 0.1rem;
        margin-bottom: 2rem;
    }
    .sec .reverse{
        flex-direction: column-reverse;
    }
    .landing-num{
        position: absolute;
        width: fit-content;
        top: 0;
        left: 0;
        font-size: 1.2rem;
        font-weight: 700;
    }
    .landing-num span{
        width: fit-content;
    }
    .landing-card i{
        color: #16a085;
        margin-top: 2rem;
        font-size: 3rem;
    }
    .landing-card h3{
        font-weight: bold;
        font-size: 1.2rem;
    }
    .landing-card p{
        font-size: 1rem;
        font-weight: 400;
    }
    .footer{
        height: fit-content;
        display:flex;
        flex-direction: column;
    }
    .footer .col-3{
        display: none;
    }
    .footer .col-5{
        width: 100%;
    }
    .footer .col-4{
        display: none;
    }
    .footer img{
        display: none;
    }
}