:root{
    --blue1 : #3498DB;
    --blue2 : #162542;
    --gold : #96875C;
}
* {
    
    font-family: "Lato";
}
.blue1{
    
    color:var(--blue1)
}
.wings{
    position: relative;
}
.wings::after{
    display: block;
    position: absolute;
    top:50%;
    right: 25%;
    content: "";
    width:9rem; 
    height: 4px;
    background-color: var(--blue1);
}
.wings::before{
    display: block;
    position: absolute;
    top:50%;
    left: 25%;
    content: "";
    width:9rem; 
    height: 4px;
    background-color: var(--blue1);
}
.wingsb{
    position: relative;
}
.wingsb::after{
    display: block;
    position: absolute;
    top:50%;
    right: 15%;
    content: "";
    width:9rem; 
    height: 4px;
    background-color: var(--blue1);
}
.wingsb::before{
    display: block;
    position: absolute;
    top:50%;
    left: 15%;
    content: "";
    width:9rem; 
    height: 4px;
    background-color: var(--blue1);
}
.under::after{
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: gray;
}
/* NAV BAR START */
.nav-item a{
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
}
.active::after{
    display: block;
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--blue1);
}
/* NAV BAR END */
.btn{
    width: 100%;
    background-color: var(--blue1);
    font-size: 1.6rem;
}
.btn:hover{
    background-color: transparent;
    border: 2px var(--blue1) solid;
    transition: ease;
    transition: 0.5s;
}
.btn-outline{
    background-color: transparent;
    border: 2px var(--blue1) solid;
}
.btn-outline:hover{
    background-color: var(--blue1);
    transition: ease;
    transition: 0.5s;
}
.btn-sm{
    width: 30%;
}
/* HOME PAGE START */
.two{
    background-color: #F3F4F6;
}
/* PRIMARY SECTION START */
.prim{
    max-height: 100vh;
    background: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.8)), url(../imgs/Home\ BG1.jpg);
    background-size: cover;
}
.prim h1{
    font-size: 6rem;
    color:var(--blue1)
}
.prim h2{
    font-size: 4rem;
}

.prim p{
    color:white;
    font-weight: 200;
    font-size: 1.9rem;
    line-height: 250%;
}
/* PRIMARY SECTION END */
/* SEC SECTION START */
.card{
    border: 5px solid black;
    border-style: none solid none none;
    
}
.bodytext {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    width: 90%;
    position: absolute;
    text-align: center;
    
}
.sec{
    padding: 3rem;
    min-height: 50vh;
    height: fit-content;
}
.sec .row{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sec .rowwm{
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}
.sec h1{
    font-size: 3.5rem;
    font-weight: bolder;
    margin-top: 2rem;
}
.sec h2{
    margin-bottom: 2rem;
    font-size: 4rem;
    color:var(--blue1)
}
.sec h3{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.sec p{
    font-size: 1.3rem;
}
.sec .cardtitle{
    margin-top: 1rem;
    text-align: center;
    min-height: 7rem;
    font-size: 2rem;
    font-weight: bold;
}
.sec .cardtitlerow{
    
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}
.sec .cardtext{
    font-size: 1.3rem;
    font-weight: 300;
}

.sec .cardtextrow{
    font-size: 1.3rem;
    text-align: left;
    font-weight: 300;
}

.big-icon{
    text-align: center;
    font-size: 7rem;
    margin-bottom: 1rem;
    color: var(--gold)
}
.sm-icon{
    font-size: 4rem;
}

/* 2ND SECTION END */
/* HOME PAGE END */

/* MESSAGE FORM START */
.msgform{
    margin: auto;
    margin-top: 5rem;
    padding: 3rem;
    align-content: center;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(../imgs/Home\ BG1.jpg);
    border-radius: 2rem;
}
.msgform button{
    font-weight: bolder;
}
.msgform button:hover{
    font-weight: bolder;
    background-color: white;
    border: 2px var(--blue1) solid;
    transition: ease;
    transition: 0.5s;
}
#msgmsg{
    background-color: #27ae60;
    display: none;
    transition: 1s;
    padding: 0.25rem;

}
/* MESSAGE FORM END */
.cardstitle{
    margin-top: 1rem;
    text-align: start;
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
.cardstext{
    color: black;
    font-size: 1rem;
    font-weight: light;
    
}
.card-btn{
    width:30%;
    font-size: 1.2rem;
    padding: .5rem;
}
.cards{
    min-height: 40vh;
    transition: 0.5s;
    box-shadow: 0 0 8px  rgba(0,0,0,0.2);
    border-radius: 2rem;
    overflow: hidden;
    box-sizing: border-box ;

}
.cards:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
   box-sizing: border-box ;

}
.value-card{
    align-items: center;
    vertical-align: middle;
    min-height: 20rem;
}
.service-card i{
    font-size: 7rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
}
/* LAWSUIT START */
.lawsuit{
    padding: 5rem;
    min-height: 100vh;
    position: relative;


}
.lawsuit h3{
    font-size: 3rem;
    font-weight: bolder;
}
.lawsuit p{
    margin-top: 1rem;
    font-weight: 300;
    font-size: 1.5rem;
}
.lawsuit .col-6{
    width:60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* HOME BUTTON */
.homebutton {
    right: 0px;
    text-align: center;
    width: fit-content;
    margin-top: 1rem;
    margin-right: 1rem;
    position: absolute;
    z-index: 2;}
	
.homebutton a {
    display: block;
    margin-bottom: 1em;
    padding: 0.3em 1.25em;
    border: 1px solid #c2c7cc;
    font-size: 1.1rem;
    line-height: 1.667em;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background: white;
    transition: 0.5s;
    border-radius: 2rem;
}
.homebutton a:hover {
    border-color: #42B6F3;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.questions p{
    margin-bottom: 2rem;
}
.question{
    font-size: 2rem;
    color: var(--blue2);
}
/* POPUP START */
.pop-up{
    position: fixed;
    top:50%;
    left:200%;
    transform: translate(-50% ,-50%);
    background-color: lightgray;
    padding: 2rem;
    border-radius: 3rem;
    z-index: 999;
    transition: 1s;
}
.pop-up h3{
    font-size: 3rem;
    font-weight: bolder;
}
.pop-up p{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
}
/* EARPLUGS */
.earplugs{
    background: linear-gradient(rgba(4,9,30,0.95),rgba(11, 21, 59, 0.95)), url(../imgs/3M.jpg);
    background-size: cover;
}

.land-pa{
    font-weight: 300;
    padding: 2rem;
}
.land-pa h3{
    font-size: 2rem;
}
/* LAWSUIT END */
/* FOOTER START */
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}
@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }
.footer{
    height: 50vh;
    background-color: var(--blue2);
}
.footer i{
    margin: 0;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    width: auto;
}
.footer a{
    margin: 0;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    width: auto;
}
.footer .text-btn{
    margin: auto;
    font-size: 1rem;
}
/* FOOTER END */